<!DOCTYPE html PUBLIC">
<html>
<head>
<meta http-equiv="Content-Type" content="views/menu.html; charset=UTF-8" />
<title>Menu</title>
</head>
<body>
<div id="menu">
<div class="containerlogo">
<div class="container" id="space2"></div>
<div class="container" id="homebutton">Home</div>
</div><!-- close container logo -->
<div class="container" id="space"></div>
<div class="containermenuhome">
<div class="container" id="cardboard"><img class="icon" src="src/cardboard.ico" height="60" width="60"><p class="texto">Cardboard</p></div>
<div class="container" id="unity"><img class="icon" src="src/unity.ico" height="60" width="60"><p class="texto">Unity</p></div>
<div class="container" id="blender"><img class="icon" src="src/blender.ico" height="60" width="60"><p class="texto">Blender</p></div>
<div class="container" id="videomaker"><img class="icon" src="src/video.ico" height="60" width="60"><p class="texto">Videomaker</p></div>
<div class="container" id="android"><img class="icon" src="src/android.ico" height="60" width="60"><p class="texto">Android</p></div>
<div class="container" id="aboutme"><img class="icon" src="src/JCtt.ico" height="60" width="60"><p class="texto">About</p></div>
<div align="center"></div>
</div>  
<div align="center"><!-- close container menu --></div>
</body>
</html>


