*{
	margin:0px;
	padding:0px;
	font-family:Gotham-Book;
	margin-left: auto;
	margin-right: auto;
    background-image: url('src/design.jpg');
    /*background-size: cover;
    background-position: 50%;
    position: relative;*/
    /*overflow: hidden;*/
	}

@font-face { 
font-family: "BankGothicLight"; 
src: local("BankGothic Lt BT"), url(fonts/bankgthl.ttf) format("truetype");
font-weight: normal;
font-style: normal;
}

body{
	color: #FFF;
	background-color:rgb(204,204,204);
	background-image: url('src/design.jpg');
	font-family:Gotham-Book;
	}

div#App{
	background-color:rgba(0,0,0,200);
	color: rgb(255,255,255);
	font-family:"BankGothicLigth";
	font-size:0.9em;
	margin:auto;
	vertical-align:central;
	width:100%;
	height:50px;
}

div#bg{
	margin:auto;
	vertical-align:central;
	width:100%;
	height:50%;
	}
div#header{
	background-color:rgba(0,0,0,200);
	color: rgb(255,255,255);
	font-family:"BankGothicLigth";
	font-size:0.9em;
	margin:auto;
	vertical-align:central;
	width:100%;
	height:50px;
	}

div#jc{
	width: 100px;
	height: 100px;
}

div#doya{
	background-color:rgba(0,0,0,200);
	color: rgb(255,255,255);
	vertical-align:text-top;
	width: 500px;
	height: 30px;
}

div#footer{
	background-color:rgba(0,0,0,200);
	text-align:center;
	background-color:rgb(204,204,204);
	font-family:Gotham-Book;
	font-size:0.9em;
	margin:auto;
	vertical-align:central;
	width:100%;
	height:50px;
	}

/*
Containers definition
*/

div#containerheader{
	background-color:rgb(255,255,255);
	color: rgb(128,128,128);
	font-family:Gotham-Book;
	font-size:1em;
	margin:auto;
	margin-top:12px;
	float:right;
	vertical-align:central;
	width:824.5px;
	height:21.5px;
	padding-bottom:2px;
	}
	
div.supercontainer{
	alignment-adjust:central;
	width:960px;
	background-color:rgb(204,204,204);
	text-align: center;
	}
div.containerprincipal{
	width:960px;
	height:600px;
	background-color:rgb(242,242,242);
	}
	
div.containerprincipalspace{
	width:960px;
	height:20px;
	background-color:rgb(242,242,242);
	}


div.containerprincipaltitle{
	padding-left: 60px;
	width:900px;
	height:20px;
	background-color:rgb(242,242,242);
	}


div.containerlogo{
	width:960px;
	height:80px;
	background-color:rgb(204,204,204);
	}
	
div.containermenuhome{
	width:960px;
	height:74px;
	background-color:rgb(204,204,204);
	}
	
div.nav{
	/*width:960px;
	height:190px;*/
	width:0px;
	height:0px;
	background-color:rgb(242,242,242);
	font-size:2em;
	color:rgb(128,128,128);
	text-align:left;
	}
	
div.nav2{
	width:960px;
	height:20px;
	background-color:rgb(242,242,242);
	text-align:center;
	font-size:9pt;
	color:rgb(0,0,0);
	}

div.container{
	font-size:1em;
	float:left;
	display:inline-block;
	height: 74px;
	-webkit-transition: height 0.6s;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 6px;

	}


/*
Menu Home
*/

div#space{
	background-color:rgb(242,242,242);
	width:166px;
	height:74px;
	margin-left:0px;
	-webkit-transition: height 0s;
	}

div#cardboard{
	border-radius:0.5em;
	background-color:rgb(255,255,255);
	width:110px;
	height:68px;
	}

div#unity{
	border-radius: 0.5em;
	background-color:rgba(255,255,255,1);
	width:110px;
	height:68px;
	}

.fa-unity:hover {
 /*background: url("src/unity_logob.ico");*/
}

div#blender{
	border-radius:0.5em;
	background-color:rgb(255,255,255);
	width:110px;
	height:68px;
	}
div#videomaker{
	border-radius:0.5em;
	background-color:rgb(255,255,255);
	width:110px;
	height:68px;
	}

div#android{
	border-radius: 0.5em;
	background-color:rgb(255,255,255);
	width:110px;
	height:68px;
	}

div#aboutme{
	border-radius: 0.5em;
	background-color:rgb(255,255,255);
	width:110px;
	height:68px;
	}

div#natura{
	background-color:rgb(140,98,57);
	width:76px;
	height:68px;
	}

div#accoglienza{
	background-color:rgb(96,56,19);
	width:115px;
	height:68px;
	}

div#altro{
	background-color:rgb(102,102,102);
	width:65px;
	height:68px;
	margin-right:0px;
	}

p.texto{
	font-family:Gotham-Light;
	font-size: 12pt;
	color:white;
	text-align:center;
	padding-top:50px;
	opacity:0.6;
	-webkit-transition: padding-top .6s;
	}

p.texto:hover{
	font-family:Gotham-Light;
	font-size: 12pt;
	color:black;
	text-align:center;
	padding-top:50px;
	opacity:0.6;
	-webkit-transition: padding-top .6s;
	}

/*
Menu Home Animation 
*/

section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}
md-content {
    margin-right: 7px;
}
section .md-button:not(.md-fab) {
    width: 10em;
}
section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px;
}
/*prueba*/

div#cardboard:hover{
	height:74px;
	background-color:rgb(0,0,0);

}

div#unity:hover{
	height:74px;
	background-color:rgba(0,0,0,1);
	background: url('src/unity_logob.ico');
}
.aboutme.icon:hover {
 
}

div#blender:hover{
	height:74px;
	background-color:rgb(0,0,0);
}

div#videomaker:hover{
	height:74px;
	background-color:rgb(0,0,0);
}

div#android:hover{
	height:74px;
	background-color:rgb(0,0,0);
}

div#aboutme:hover{
	height:74px;
	background-color:rgb(0,0,0);
}


div#natura:hover{
	height:74px;
}

div#accoglienza:hover{
	height:74px;
}

div#altro:hover{
	height:74px;
}

div.container:hover p.texto{
	padding-top:16px;
	}
	
div#space2{
	background-color:rgb(204,204,204);
	width:166px;
	height:74px;
	margin-left:0pt;
	-webkit-transition: height 0s;
	}
	
div#homebutton{
	background-color:rgb(241,90,36);
	width:70px;
	height:21px;
	margin-top:53px;
	/*padding-top:0pt;*/
	vertical-align:central;
/*	color:*/
	font-family:Gotham-Light;
	font-size: 12pt;
	text-align: center;
	-webkit-transition: height 0s;
	}

#accedibutton{
	background-color:rgb(241,90,36);
	width:57px;
	height:21px;
	/*margin-top:53pt;
	padding-top:0pt;*/
	vertical-align:central;
	font-family:Gotham-Light;
	font-size: 12pt;
	color:white;
	text-align:center;
	-webkit-transition: height 0s;
	}
	
#iscrivitibutton{
	background-color:rgb(241,90,36);
	width:90px;
	height:21px;
	/*margin-top:53pt;
	padding-top:0pt;*/
	font-family:Gotham-Light;
	font-size: 12pt;
	color:white;
	text-align:center;
	-webkit-transition: height 0s;
	}	
	
#facebookbutton{
	background-color:rgb(59,96,170);
	width:90px;
	height:21px;
	/*margin-top:53pt;
	padding-top:0pt;*/
	font-family:Gotham-Light;
	font-size: 12pt;
	color:white;
	text-align:center;
	-webkit-transition: height 0s;
	}

/*revisar porque no da el background*/
section#principal{
	background-color:rgb(242,242,242);
	vertical-align:central;
	}
article{
	background-color:rgb(242,242,242);
	}


.selector {
	font-size: 9pt;
	color:rgb(128,128,128);
}

.containerheader #searchform #cercabutton {
	background-image: url(D:%5CLibraries%5CPictures%5CCerca.png);
}
.supercontainer .containerprincipal iframe {
	text-align: center;
	background-color: rgb(242,242,242);
}
.title1 {
	text-align: left;
	font-size: 13.63pt;
	background-color:rgb(242,242,242);
	font-family: rgb(128, 128, 128);
}
.supercontainer .containerprincipal .containerprincipaltitle {
	font-size: 13.63pt;
}
.title2 {
	font-size: 13.63pt;
}
.supercontainer .containerprincipal .containerprincipaltitle .title1 {
	color: rgb(128, 128, 128);
}
.supercontainer .containerprincipal .containerprincipaltitle {
	font-size: 13.63pt;
	color: rgb(128, 128, 128);
	text-align: left;
	font-weight: bold;
}
.supercontainer .containerprincipal .title3 {
	color: rgb(241,90,36);
	font-size: 13.63pt;
	font-weight: bold;
}
